.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s linear;
}

.error {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: orange;
  color: white;
  font-style: italic;
  font: 13.3333px Arial;
}

.container {
  align-items: center;
  display: inline-block;
}
